/*
Theme Name: Laravel
*/
*, *:before, *:after {box-sizing:  border-box;}
html{font-family: 'Open Sans', sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family: 'Open Sans', sans-serif;font-size: 14px;color:#010101; line-height: 1.5;}
h1,h2,h3,h4,h5,h6{clear:both; font-weight: 400; margin: 5px 0 10px 0;font-family: 'Poppins', sans-serif;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
a{text-decoration: none;}
.clear{clear: both;}
.header{padding:25px 0;position:relative;z-index:100}
.banner-header{position:relative}
.banner-header a{display:block}
.banner-header img{display:block;margin:0 auto;width:100%}
.banner-header .bn-close{position:absolute;top:20px;right:80px;z-index:999;color:#fff;cursor:pointer}
.rtl .banner-header .bn-close{left:80px;right:auto}
.banner-header .bn-close i{font-size:22px}
.clear-float:before,.clear-float:after{content:'';display:table}
.clear-float:after{clear:both}
.top-bar{color:#757575;background-color:#ebebeb;font-size:12px;line-height:14px;position:relative;z-index:999;min-height:45px}
.top-bar .col-1 .widget_nav_menu li ul{left:0;right:auto}
.top-bar .col-1 .widget_nav_menu li ul ul{left:auto;right:-100%}
.top-bar .col-2 .widget{float:right;padding:0 20px;position:relative}
.rtl .top-bar .col-2 .widget{float:left;float:left}
.top-bar .col-2 .widget:after{position:absolute;top:50%;right:0;width:1px;height:14px;background-color:#e0e0e0;margin-top:-7px}
.top-bar .col-2 .widget:last-child:before{position:absolute;top:50%;left:0;width:1px;height:14px;background-color:#e0e0e0;margin-top:-7px}
.top-bar .col-2 .widget_nav_menu,.top-bar .col-2 .widget_text{margin-bottom:0}
.top-bar .widget_nav_menu li{display:inline-block;width:auto;padding:15px 5px}
.top-bar .widget_nav_menu li ul li{display:block;width:100%;padding:7px 15px}
#menu-account li a{color:#888888}
.top-bar .widget_nav_menu li:last-child:first-child{padding-bottom:15px}
.top-bar .widget_nav_menu li.menu-item-has-children:after{content:'\f2f9';font-family:'Material-Design-Iconic-Font';display:inline-block;vertical-align:top;margin-left:5px}
.rtl .top-bar .widget_nav_menu li.menu-item-has-children:after{margin-right:5px;margin-left:0}
.top-bar .widget_nav_menu li:hover > ul{opacity:1;filter:alpha(opacity=100);-webkit-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;visibility:visible}
.top-bar .widget_nav_menu li ul{background-color:#fff;opacity:0;filter:alpha(opacity=0);-webkit-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg);visibility:hidden;-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;position:absolute;top:100%;right:0;z-index:999;width:150px;padding:5px 0!important;margin:0;border:1px solid #e0e0e0;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.14);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.14);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.14);-o-box-shadow:0 2px 5px rgba(0,0,0,0.14);box-shadow:0 2px 5px rgba(0,0,0,0.14);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.top-bar .widget_nav_menu li{display:inline-block;width:auto;padding:15px 5px}
.top-bar .widget_nav_menu li:last-child:first-child{padding-bottom:15px}
.top-bar .widget_nav_menu li.menu-item-has-children:after{content:'\f2f9';font-family:'Material-Design-Iconic-Font';display:inline-block;vertical-align:top;margin-left:5px}
.top-static{margin-bottom:0}
.top-static li{width:auto!important;display:inline-block;padding:15px 20px!important}
.top-static li:before{content:''}
.top-static li:after{right:0;left:auto}
.top-static li:last-child:after{content:''}
.top-static .st-label{display:inline-block;color:#000;font-weight:600}
.top-static .st-text{color:#757575}
.lang-cur .select,.lang-cur .title{display:inline-block;vertical-align:top;padding:15px 0}
.lang-cur .select{position:relative;cursor:pointer;margin-bottom:0}
.lang-cur .select ul{list-style:none}
.lang-cur .select:hover ul{opacity:1;filter:alpha(opacity=100);-webkit-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;visibility:visible}
.lang-cur .selected{color:#000;margin-left:5px}
.rtl .lang-cur .selected{margin-right:5px;margin-left:0}
.lang-cur .selected:after{content:'\f2f9';font-family:'Material-Design-Iconic-Font';display:inline-block;vertical-align:top;margin-left:5px}
.rtl .lang-cur .selected:after{margin-right:5px;margin-left:0}
.lang-cur ul{background-color:#fff;color:#6f6f6f;opacity:0;filter:alpha(opacity=0);-webkit-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg);visibility:hidden;-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;position:absolute;top:100%;right:0;z-index:10;width:120px;border:1px solid #e0e0e0;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.14);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.14);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.14);-o-box-shadow:0 2px 5px rgba(0,0,0,0.14);box-shadow:0 2px 5px rgba(0,0,0,0.14);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;padding:5px}
.rtl .lang-cur ul{left:0;right:auto}
.lang-cur ul li{padding:5px;cursor:pointer}
.preset-1 .lang-cur ul li:hover{color:#f9ba48}
.preset-2 .lang-cur ul li:hover{color:#7b7a27}
.preset-3 .lang-cur ul li:hover{color:#f06676}
.preset-4 .lang-cur ul li:hover{color:#1197d6}
#logo-wrapper img{height:77px!important}
.logo-inside{padding:22px 0 5px;}
.logo-inside a{display:inline-block}
.logo-inside.white .logo-text{color:#fff}
.logo-background{display:block;width:204px;height:37px;background:url(../images/logo.jpg) left center no-repeat;background-size:100% 100%;text-indent:-9999px;overflow:hidden;color:transparent}
.logo-center{text-align:center}
.logo-center .logo-background{margin:0 auto}
.logo-text{display:block;font-size:30px;line-height:35px;text-transform:uppercase;font-weight:700;color:inherit;padding:10px 0 15px}
.top-feature{padding-top:18px;padding-bottom:18px}
.top-feature .top-search,.top-feature .top-cart{float:right}
.rtl .top-feature .top-search,.rtl .top-feature .top-cart{float:left;float:left}
.top-feature .top-search{width:75%}
.top-feature .top-cart{width:25%;padding-left:30px}
.rtl .top-feature .top-cart{padding-right:30px;padding-left:0}
.search-toggle{width:46px;height:46px;text-align:center;cursor:pointer;display:none}
.search-toggle i{font-size:18px;line-height:46px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.vina-product-search form{position:relative}
.vina-product-search form:before,.vina-product-search form:after{content:'';display:table}
.vina-product-search form:after{clear:both}
.vina-product-search form label{display:none}
.vina-product-search form select,.vina-product-search form input,.vina-product-search form button{outline:none;border:none;color:#6f6f6f}
.vina-product-search form input[type=text]{display:block;width:100%;border:none;padding:13px 215px 13px 15px !important;font-size:12px;line-height:20px;height:46px;color:#7b7b7b;background-color:#f8f8f8;border:1px solid #e0e0e0;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.rtl .vina-product-search form input[type=text]{padding:13px 15px 13px 215px !important}
.vina-product-search form input[type=text]::-webkit-input-placeholder{font-style:normal}
.vina-product-search form input[type=text]::-moz-placeholder{font-style:normal}
.vina-product-search form input[type=text]:-ms-input-placeholder{font-style:normal}
.vina-product-search form input[type=text]::-moz-placeholder{font-style:normal}
.vina-product-search form .select-category{position:absolute;top:0;right:46px;height:46px;width:100%;max-width:165px;border-width:0;border-style:solid;border-color:#e0e0e0;border-left-width:1px;color:#6f6f6f}
.rtl .vina-product-search form .select-category{left:46px;right:auto;border-left-width:0;border-right-width:1px}
.vina-product-search form .select-category:after{content:"\f107";font-family:'FontAwesome';position:absolute;top:0;right:0;font-size:18px;color:rgba(111,111,111,0.5);width:40px;height:46px;line-height:46px;pointer-events:none;cursor:pointer;text-align:center}
.rtl .vina-product-search form .select-category:after{left:0;right:auto}
.vina-product-search form .select-category select{height:46px;padding:13px 15px;font-size:12px;line-height:20px;color:#7b7b7b;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;vertical-align:top}
.vina-product-search form .SumoSelect{width:100%}
.vina-product-search form .SumoSelect > .CaptionCont{font-size:12px;line-height:20px;height:46px;padding:13px 15px;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;background-color:transparent;text-align:left}
.rtl .vina-product-search form .SumoSelect > .CaptionCont{text-align:right}
.vina-product-search form .SumoSelect > .CaptionCont span{padding-right:30px}
.rtl .vina-product-search form .SumoSelect > .CaptionCont span{padding-left:30px;padding-right:0}
.vina-product-search form .SumoSelect > .optWrapper > .options{max-width:100%;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0}
.vina-product-search form .SumoSelect > .optWrapper > .options li.opt{padding:9px 15px;-webkit-border-radius:0!important;-moz-border-radius:0!important;-ms-border-radius:0!important;border-radius:0!important}
.vina-product-search form .SumoSelect > .optWrapper > .options li label{margin-bottom:0;font-weight:400;color:#6f6f6f!important}
.vina-product-search form .SumoSelect.open > .optWrapper{width:250px;top:100%;left:-1px;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;border-radius:0}
.rtl .vina-product-search form .SumoSelect.open > .optWrapper{left:auto;right:-1px}
.vina-product-search form button{display:block;position:absolute;top:0;right:0;overflow:hidden;text-indent:-999px;width:46px;height:46px;line-height:46px;padding:0;color:#fff;border-radius:0 4px 4px 0;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear}
.rtl .vina-product-search form button{left:0;right:auto}
.vina-product-search form button:after{content:"\e090";font-family:'simple-line-icons';text-indent:0;position:absolute;top:0;left:0;width:100%;font-size:18px}
.vina-product-search form button:hover{background-color:#0063d1}
.mini_cart_inner{position:relative}
.mini_cart_inner:hover .mcart-border{opacity:1;visibility:visible;-webkit-transform:rotateX(0);-ms-transform:rotateX(0);-o-transform:rotateX(0);transform:rotateX(0);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0}
.mini_cart_inner a{display:block}
.mini_cart_inner .shopping_cart{background-color:#494d58;color:#fff;position:relative;padding:7px 15px 7px 85px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px}
.rtl .mini_cart_inner .shopping_cart{padding:7px 85px 7px 15px}
.mini_cart_inner .shopping_cart .icon-cart{position:absolute;top:0;left:0;width:65px;text-align:center;border-width:0;border-style:solid;border-color:#5c5f69;border-right-width:1px}
.rtl .mini_cart_inner .shopping_cart .icon-cart{left:auto;right:0;text-align:center;border-right-width:0;border-left-width:1px}
.mini_cart_inner .shopping_cart .icon-cart i{font-size:24px;line-height:46px}
.mini_cart_inner .shopping_cart .cart-quantity{display:block;position:absolute;top:12px;right:-15px;width:28px;height:23px;line-height:22px;text-align:center;font-size:10px;background:url(../images/bg_qtcart.png) left top no-repeat; font-weight: 600;}
.rtl .mini_cart_inner .shopping_cart .cart-quantity{left:-15px;right:auto}
.mini_cart_inner .shopping_cart .sub-title,.mini_cart_inner .shopping_cart .cart-total-price{display:block;font-size:12px;line-height:16px;font-family:'Poppins',Arial,sans-serif}
.mini_cart_inner .shopping_cart .sub-title{font-weight:600;text-transform:uppercase}
.mini_cart_inner .shopping_cart .cart-total-price .title{display:inline-block}
.mcart-border{opacity:0;visibility:hidden;-webkit-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;width:300px;position:absolute;z-index:10000;top:100%;right:0;background-color:#fff;color:#6f6f6f;padding:15px 20px;text-align:left;border-top:3px solid #e32121;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.14);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.14);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.14);-o-box-shadow:0 2px 5px rgba(0,0,0,0.14);box-shadow:0 2px 5px rgba(0,0,0,0.14);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.rtl .mcart-border{left:0;right:auto;text-align:right}
.mcart-border .loading{background-color:#fff;background-image:url(../images/loader.gif);background-repeat:no-repeat;background-position:center center;display:none;height:100%;left:0;opacity:.7;position:absolute;top:0;width:100%;z-index:2}
.mcart-border.loading .loading{display:block}
.mcart-border > *{text-align:left}
.rtl .mcart-border > *{text-align:right}
.mcart-border:after{content:"\f0d8";font-family:FontAwesome;font-size:18px;font-weight:normal;right:0;left:auto;position:absolute;top:-15px;opacity:1;z-index:9999;color:#e32121;margin:0 auto;width:14px}
.mcart-border .total{position:relative;display:block;padding:20px!important;margin-top:20px;font-size:14px;line-height:24px;text-transform:capitalize;font-weight:700;clear:both;background-color:#303030;color:#fff!important;border-top:none!important}
.mcart-border .total .amount{float:right;font-size:16px;font-weight:300}
.mcart-border .total:before,.mcart-border .total:after{content:'';display:table}
.mcart-border .total:after{clear:both}
.mcart-border .buttons{margin:0}
.mcart-border .buttons a{text-transform:none;padding:20px;display:block;width:100%;color:#fff!important;background-color:#e32121;border-color:#fff;text-align:center}
.rtl .mcart-border .buttons a{text-align:center}
/* Main Menu Start */
.menu-wrapper {  background-color: #494d58; position: relative;  z-index: 90;min-height: 65px;}
.main-navigation ul {  padding: 0;  margin: 0;  list-style: none;  position: relative;}
.main-navigation ul li {float: left; display: inline-block; white-space: nowrap;  position: relative;}
.main-navigation ul li:hover { -webkit-transition: all 0.3s ease-out;  -moz-transition: all 0.3s ease-out;  -o-transition: all 0.3s ease-out;  transition: all 0.3s ease-out;}
.main-navigation ul li a {  display: inline-block;  padding:22px 10px;  text-decoration: none;  text-transform: uppercase;  font-weight: 600;  font-size: 13px;color: #fff;}
.main-navigation > ul > li > a { opacity: 1;  -webkit-transition: opacity 0.3s;  -moz-transition: opacity 0.3s;  -o-transition: opacity 0.3s;  transition: opacity 0.3s;}
.main-navigation ul ul{border-top:2px solid;background-color:#fff;padding:15px 0;position:absolute;top:100%;left:0;opacity:0;filter:alpha(opacity=0);-webkit-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;visibility:hidden;-webkit-transition:all .2s ease-in-out 0;-moz-transition:all .2s ease-in-out 0;-o-transition:all .2s ease-in-out 0;transition:all .2s ease-in-out 0;min-width:260px;z-index:99999;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.14);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.14);-ms-box-shadow:0 2px 5px rgba(0,0,0,0.14);-o-box-shadow:0 2px 5px rgba(0,0,0,0.14);box-shadow:0 2px 5px rgba(0,0,0,0.14);line-height:23px;-webkit-animation-duration:.3s;-moz-animation-duration:.3s;-o-animation-duration:.3s;animation-duration:.3s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:main_nav_anim;-moz-animation-name:main_nav_anim;-o-animation-name:main_nav_anim;animation-name:main_nav_anim;}
.top-category{position:relative;z-index:1000}
.top-category .inside{position:relative;z-index:1000}
.top-category table th,.top-category table td{padding:5px}
.top-category .widget{padding:15px;margin-bottom:15px}
.top-category .widget:last-child{margin-bottom:0}
.top-category .widget_vg_alice_category_treeview{padding:0}
.top-category div.vg-alice-category-treeview{color:#adadad}
.top-category div.vg-alice-category-treeview .hitarea{right:15px}
.rtl .top-category div.vg-alice-category-treeview .hitarea{left:15px;right:auto}
.top-category div.vg-alice-category-treeview .treeview li{padding:10px 20px;border-bottom:1px solid #f2f5f6;width: 100%;}
.top-category div.vg-alice-category-treeview .treeview li:last-child{border-bottom-color:transparent}
.top-category div.vg-alice-category-treeview .treeview li a{color:#4c4c4c;text-transform:none;font-weight:400;line-height:21px;padding-left:30px;display: block;}
.rtl .top-category div.vg-alice-category-treeview .treeview li a{padding-right:30px;padding-left:0}
.top-category div.vg-alice-category-treeview .treeview li a:hover{text-decoration: none; padding-right: 10px;

}
.top-category div.vg-alice-category-treeview .treeview li a:before{display:block;width:30px;height:18px;content:'';background:url(../images/category_sprite.png)no-repeat;position:absolute;top:50%;left:0;margin-top:-8px}
.rtl .top-category div.vg-alice-category-treeview .treeview li a:before{left:auto;right:0}
.widget ul, .widget ol { float: none; margin: 0;padding: 0; width: 100%; list-style: none;}
div.vg-alice-category-treeview .treeview li a { display: inline-block; position: relative; font-size: 14px; line-height: 20px; font-weight: 700; color: #6f6f6f;  text-transform: uppercase;
}
div.vg-alice-category-treeview .treeview .hitarea {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;
  width: 22px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  margin-left: 0;
  background: none;
  text-align: center;
}
.rtl div.vg-alice-category-treeview .treeview .hitarea {
  left: 0;
  right: auto;
}
div.vg-alice-category-treeview .treeview .hitarea:after {
  content: '\f2fc';
  font-family: 'Material-Design-Iconic-Font';
}
div.vg-alice-category-treeview .treeview .hitarea:hover {
  color: #f9ba48;
}
div.vg-alice-category-treeview .treeview ul {
  /* margin: 0; */
  padding: 8px 0 8px 20px;
}
.top-category div.vg-alice-category-treeview .treeview li a:before { background: url(../images/category_sprite.png)no-repeat;}
.top-category div.vg-alice-category-treeview .treeview li a:after{ content:"\f054";font-family: 'FontAwesome';position: absolute;font-size: 12px; right: 0px;color:#818181;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(2) a:before {     background-position: 0 -46px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(3) a:before {     background-position: 0 -88px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(4) a:before {     background-position: 0 -138px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(5) a:before {     background-position: 0 -176px; height: 25px; margin-top: -15px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(6) a:before {     background-position: -5px -225px; height: 25px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(7) a:before {     background-position: -6px -276px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(8) a:before {     background-position: -3px -322px;height: 25px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(9) a:before {     background-position: -3px -368px;}
.top-category div.vg-alice-category-treeview .treeview li:nth-child(10) a:before {     background-position: -5px -404px;}

.top-category div.vg-alice-category-treeview .treeview li.smartphone-tablets a:before {
  background: url(../images/thumb_mobile.jpg) left top no-repeat;
}
.top-category div.vg-alice-category-treeview .treeview li.sport-outdoor a:before {
  background: url(../images/icon/thumb_board.jpg) left top no-repeat;
}
.top-category div.vg-alice-category-treeview .treeview ul li {
  padding: 15px 0;
}
.top-category div.vg-alice-category-treeview .treeview ul li:last-child {
  padding-bottom: 0;
}
.top-category div.vg-alice-category-treeview .treeview ul li .hitarea {
  right: 0;
}
.rtl .top-category div.vg-alice-category-treeview .treeview ul li .hitarea {
  left: 0;
  right: auto;
}
.top-category div.vg-alice-category-treeview .treeview ul li a {
  padding-left: 0;
}
.rtl .top-category div.vg-alice-category-treeview .treeview ul li a {
  padding-right: 0;
  padding-left: 0;
}
.top-category div.vg-alice-category-treeview .treeview ul li a:before {
  display: none;
}
div.vg-alice-category-treeview {
	display: block;
}
div.vg-alice-category-treeview .treeview,
div.vg-alice-category-treeview .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
div.vg-alice-category-treeview .treeview ul {
	margin-top: 4px;
}
div.vg-alice-category-treeview .treeview .hitarea:after {
  content: '\f2fc';
  font-family: 'Material-Design-Iconic-Font';
}
.btn-categories{ display: block;  cursor: pointer;  font-family: 'Poppins', Arial, sans-serif;  font-size: 14px;  line-height: 65px;  padding: 0 25px;  margin: 0;  color: #fff;      text-transform: uppercase;}
.btn-categories {background-color: #0063d1;    }
.btn-categories:before {content: "\f0c9";  font-family: "FontAwesome";  display: inline-block;  vertical-align: middle;  margin-right: 15px;  width: 45px; height: 45px; line-height: 41px;text-align: center;  border-radius: 100%;  border: 2px solid rgba(255, 255, 255, 0.5);  font-weight: normal;}
.category-inside { opacity: 1; filter: alpha(opacity=100); -webkit-transform: rotateX(0deg); -ms-transform: rotateX(0deg); -o-transform: rotateX(0deg); transform: rotateX(0deg);  -webkit-transform-origin: 0 0 0; -moz-transform-origin: 0 0 0; -ms-transform-origin: 0 0 0;  transform-origin: 0 0 0;  visibility: visible;  display: block;}
.category-inside{width:100%;height:430px;overflow-y:auto;position:absolute;top:100%;left:0;z-index:999;background-color:#ffffff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;opacity:0;filter:alpha(opacity=0);-webkit-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:0 0 0;-moz-transform-origin:0 0 0;-ms-transform-origin:0 0 0;transform-origin:0 0 0;visibility:hidden;display: block;}
.category-inside.active{opacity:1!important;filter:alpha(opacity=100)!important;-webkit-transform:rotateX(0deg)!important;-ms-transform:rotateX(0deg)!important;-o-transform:rotateX(0deg)!important;transform:rotateX(0deg)!important;-webkit-transform-origin:0 0 0!important;-moz-transform-origin:0 0 0!important;-ms-transform-origin:0 0 0!important;transform-origin:0 0 0!important;visibility:visible!important}
/** initial setup **/
.nano{position:relative;width:100%;height:100%;overflow:hidden}
.nano .content{position:absolute;overflow:scroll;overflow-x:hidden;top:0;right:0;bottom:0;left:0;padding:0}
.nano .content:focus{outline:0}
.nano .content::-webkit-scrollbar{visibility:hidden}
.has-scrollbar .content::-webkit-scrollbar{visibility:visible}
.nano .pane{position:absolute;width:3px;right:0;top:0;bottom:0;visibility:hidden\9;opacity:.01;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.nano .pane .slider{background:#fff;background:rgba(255,255,255,.5);position:relative;margin:0 1px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px}
.nano:hover .pane,.pane.active,.pane.flashed{opacity:.99}

/************slides-container**********/
.slides-container{width: 100%; z-index: 0; position: relative; min-height:488px; height: auto; width: 100%; background-color: #f8f8f8; }
.slide-con{min-height:488px;height: 100%;position: relative;}
.slides{width: 100%;position: relative; min-height:488px; background-size: cover;}
.slides > img{width: 100%;}

.slider-text-con{position: absolute; height:230px; width: 100%;   display: block;top:15%; left: 0px; bottom: 0px; margin: 0px;}
.slider-text-con .sitelogo > img {margin: 0px auto 20px; display: block;}
.slide-caption{width:500px; min-height: 240px; position: relative;margin:0px auto; display: block; color: #fff;float: left; left: 149px;}
.slide-caption h1{padding:0px 0 6px 0; margin: 0px 0 6px; text-transform: uppercase;font-size:50px;padding-bottom: 0px; font-weight:900; }

.slide-caption h5{font-size: 20px; color: #fff;  font-weight: 500;text-transform: uppercase; letter-spacing: 1px;margin: 0px 0 6px; }
.slide-caption p, .slide-caption section{ margin:2px 0 25px;color: #fff; font-size: 16px;font-weight: 300;}
.slide-caption h3,.slide-caption h4{ font-size: 28px; margin-bottom: 15px; text-transform: uppercase;font-weight: 400;}

.cus_dot2{width: 10px; height:10px; background: #fff;display: block; border-radius: 15px;border:none;}
.slick-active .cus_dot2{background:#0063d1 !important; border:3px solid #fff; width: 14px; height:14px;}
.slide-con .slick-dots li{background: none !important;}
.pricing-box-slider{font-size:45px;font-weight: 800; line-height: 33px; margin-bottom: 25px;display: block;}
.pricing-box-slider span{font-size: 22px;    letter-spacing: 1px;}
.slide-readmore{margin:0px; float: left; padding: 0px;}
.slide-readmore a{color: #000000; margin:5px 0px 0px 0;font-size:13px; background:#fff; width: 129px; height: 41px; display:block;float: left; text-align: center; line-height:41px; text-transform: uppercase; border-radius: 3px;font-weight: 600;}
.slide-readmore a:hover{text-decoration: none;}

/*****Footer******/
.footer{min-height:495px; width: 100%; margin:0px 0 0 0; color: #fff; padding:10px 0 0; }
.footer-top{min-height:389px; width: 100%; padding:25px 20px; position: relative;  background:#f0f0f0; background-size: cover;display: inline-block;}
.footer-bottom{width: 100%;min-height:97px; padding:0px 0px 0; bottom: 0px; position:relative; background: #1e1e1e; color: #797979; }
.footer-bottom section{padding:15px 29px 0;display: block; width: 100%; height: 100%;}
.footerboxes{margin: 0 0 15px 0; height: auto;min-height: 300px;    display: block;}   
.footerboxes h5, .footerboxes h3{font-weight:700; color: #000; font-size:15px; margin:5px 0 16px 0; text-transform:uppercase;padding:0px 0 5px 0;  font-family: 'Open Sans', sans-serif;}


/*****************footer-social-icons***********************/
.footer-social-icons{padding:0px 0 10px;  min-height: 46px;margin: 0px auto;}
.footer-social-icons ul{margin: 0px; padding: 0px; list-style: none;margin: 0px auto; display: block;height: inherit;}
.footer-social-icons ul li{display: inline-block; float: left; margin: 0 5px 2px 0; width: 41px; height:41px; text-align: center; line-height: 40px; border-radius:7px;background: #494d58;}
.footer-social-icons ul li:hover{background:#0063d1;}
.footer-social-icons ul li a{color: #abb3bb;font-size:14px; display: block;}
.footer-social-icons ul li:hover{border:none;}
.footer-social-icons ul li:hover a{font-size:16px;color: #fff;}

/********cus_srv*********/
.cus_srv{width: 100%;height: auto;margin-bottom: 60px;display: block;}
.cus_srv ul {padding: 0px; margin: 0px; list-style: none;}
.cus_srv ul li{color: #757575; margin-bottom: 5px;}
.cus_srv ul li a{color: #757575; text-decoration: none;}
.cus_srv ul li label{width:55px; display:inline-block;color: #000; font-weight: 500;text-shadow: 0.1px 0.1px;}

/******footer-menu******/
.footer-menu{width: 100%;height: auto;position: relative;margin-bottom:20px;}
.footer-menu ul{margin: auto 0px; padding: 0px; list-style: none; display: block;}
.footer-menu ul li{ padding:0px 0px 0 20px;margin:0px 5px 0; position: relative;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.footer-menu ul li:hover{
	 padding:0px 0px 0 25px;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.footer-menu ul li:before{color: #0063d1; content: "\f111"; display: block; float: left; font-family: 'FontAwesome';font-size:6px; position: absolute; left: 0px; top: 4px;}
.footer-menu ul li a{color: #757575;text-transform:capitalize; position: relative;  display: block; font-size:14px;}
.footer-menu ul li a:hover{outline: none; text-decoration: none;}
#forth-menu{margin-bottom:40px;}

/******footer-menu 2******/
.footer-menus{width: 100%; min-height: 30px; position: relative; }
.footer-menus ul{margin:15px 0 0 0px; padding: 0px 0 0 2px; list-style:none;}
.footer-menus ul li{margin: 0px 0; padding: 0 15px; display: inline-block; float: left;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.footer-menus ul li:first-child{padding-left: 0px;}
.footer-menus ul li:last-child{padding-right: 0px;}
.footer-menus ul li a{color: #797979; font-size: 12px;text-transform: capitalize;padding: 0 0px;position: relative;}
.footer-menus ul li:hover{margin-top: -3px;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.footer-menus ul li a:hover{text-decoration: none;}
.footer-menus ul li a:after{content: "|";display: block;position: absolute; float: right; top: 0px; right: -18px;}

.copyright{padding: 0px 0 0;font-size: 12px;   font-family: 'Open Sans'; font-weight: 400;}
.copyright span{text-transform: uppercase; color:#0063d1;font-weight: 600;}

/*********deals_of_day*******/
.deals_of_day{width: 100%; min-height:480px; margin:15px 0 20px; position: relative; overflow: hidden;}
/*****heading-wrap****/
.heading-wrap{position: relative; display: block;  background: #f8f8f8;   height: 53px; overflow: hidden;border: 1px solid #ebebeb; margin-bottom: 30px !important;}
.heading-wrap h2 {  margin: 0px;position: relative;   display: block;    line-height: 53px;    text-transform: uppercase;    color: #373737;    vertical-align: top;    padding-left: 80px;    z-index: 1;    font-size: 14px;    font-weight: 700;}
.heading-wrap h2:after {  content: "";
    background: url(../images/deal-of-day-icon.png) no-repeat 0 0;  width: 66px;  height: 53px; display: inline-block; position: absolute;
    top: 0;
    left: 0;
}
#home_app_head h2:after{background: url(../images/home_appliance.png) no-repeat 0 0;}
#elect_head h2:after{background: url(../images/electronic_icon.png) no-repeat 0 0;}
#acc_head h2:after{background: url(../images/acc.png) no-repeat 0 0;}
#fash_head h2:after{background: url(../images/acc.png) no-repeat 0 0;}
#blogs_head h2:after{background: url(../images/recent.png) no-repeat 0 0;}

.deals-wrapper{width: 100%;border:2px solid #0063d1; padding: 20px;min-height:412px; position: relative;}
.dealofday_wrap{width: 100%; height: auto;position: relative; display: block;}
.pro-heading{}
.pro-heading h3{display: block; margin: 0 0 10px; position: relative; font-weight: 600; font-size: 20px; }
.pro-stars-rating{width: 100%; position: relative;height: 20px;margin: 5px 0;}
#stars span{color: #ffa200;font-size: 12px;}
#c-stars{padding: 5px 0; margin: 5px 0; display: block;}
#c-stars span{color: #ffa200;font-size: 16px;}
.pro-timer{display: block; width: 100%; min-height: 70px; margin: 5px 0px;}
.pro-timer ul{margin: 0px; padding: 0px;list-style: none;}
.pro-timer ul li:first-child{margin-left: 0px;}
.pro-timer ul li{color:#868686;    font-size: 11px;  text-transform: uppercase;}
.pro-price{font-weight: 600; color: #434343; font-size: 18px; width: 100%; padding: 10px 0; margin: 0 0 10px 0;}
.pro-text{width: 100%; min-height: 110px; margin:5px 0; color: #6b6b6b;}
.pro-text p{color: #6b6b6b; font-size: 13px; font-weight: 300;}

.chart {
  display: inline-block;
  width:68px;
  height:68px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top:15px; text-align: center;
}
.chart span {
  display: block;
  font-size: 16px;
  font-weight: 600;color: #000;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.pro-btns{width: 100%; min-height: 40px; padding: 5px 0; position: relative;}
.pro-btns a{float: left; display: inline-block;margin-right: 10px;}
.defaultbtn{background: #ebebeb; text-align: center; color: #828282; border-radius: 3px; height: 36px; display: block;  }
a.add_to_cart {    padding:6px 15px;    font-size: 13px;    line-height: 20px;    font-weight:600;    -webkit-border-radius: 4px; -moz-border-radius: 4px;    -ms-border-radius: 4px; border-radius: 4px;    text-transform: none;    border-width: 1px;    border-style: solid;   border-color: #e0e0e0;    background-color: #e0e0e0;width: 104px;}
a.add_to_cart:hover,a.compare-btn:hover,a.favourite-btn:hover{background-color: #0063d1;text-decoration: none; color: #fff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.compare-btn,.favourite-btn{position: relative;
    display: block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #848484;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    margin-right: 5px;
    transition: all 0.4s ease
}

.compare-btn:before{ content: "\f1b5";
	    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    display: block;
    content: '';
    font-family: 'Material-Design-Iconic-Font';
    font-size: 18px;
    line-height: 36px;
    text-indent: 0;
}

/* ---------------------------------------------------Tabs-------------------------------------------------------------------------*/
.tabs-menu,.tabs-menu1{height:42px;padding:0;margin:0}
.tabs-menu li,.tabs-menu1 li{height:42px;line-height:42px;display:inline-block;list-style:none;margin-right:5px;background-color:#f4f4f4;border-radius:3px}
.tabs-menu li.current,.tabs-menu1 li a.active{position:relative;background-color:#0063d1;z-index:5;color:#fff}
.tabs-menu li a{padding:15px 35px;text-transform:uppercase;text-decoration:none;font-size:16px;color:#282828;font-family:'Poppins',sans-serif;font-weight:500}
.tabs-menu1 li a{padding:9px 35px;text-transform:uppercase;text-decoration:none;font-size:16px;color:#282828;font-family:'Poppins',sans-serif;font-weight:500}
.tabs-menu .current a,.tabs-menu1 .current a{color:#eeeeee}
.tab{border:1px solid #d4d4d1;background-color:#fff;margin-bottom:30px;width:100%;margin-top:-1px}
ul.tabs.tabs-menu1{border-bottom:1px solid #d4d4d1}
.tab-content,.tab-content1{display:none}
#tab-1,#tab-home_app1,#tab-acc_app1,#tab-fashion1,#tab-1-abt{display:block}
.h-best-slider-info{position:relative;border-right:1px solid #eee;cursor:pointer}
.h-best-slider-info:hover .h-b-qiuck-view,.h-best-slider-info:hover .h-b-btn-wish{display:block}
.h-best-slider-info img{max-width:100%;height:auto;padding:10px 5px}
.label-sale:before{content:"";background:url(../images/label.png) no-repeat top center;width:101px;height:102px;display:block;transform:rotate(-45deg);position:absolute;top:20px;z-index:-1;right: -25px;}
.h-best-slider-info .best-s-price{margin-top: 8px;}

.label-sale{position:absolute;right:0;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);top:0}
.label-sale p{margin:0;padding-top:26px;padding-left:6px;font-size:22px;color:#ffffff;font-family:'Poppins',sans-serif;font-weight:600}
.h-best-s-text{padding:20px 7px}
.h-best-s-text h4{margin:0;font-size:15px;color:#6b6e78;text-transform:capitalize;line-height:normal;font-family:'Lato',sans-serif}
.h-best-s-text a{display:inline-block}
.h-best-s-text a img{padding:9px 0 0}
.best-s-price p{margin:0 0 20px;color:#2f3034;font-weight:600;font-size:18px;font-family:'Poppins',sans-serif}
.best-s-price p span{margin-left:10px;color:#2f3034;font-size:14px;font-weight:400}
.best-s-price .sale-price{color:#0063d1;}
.h-b-btn-cart{display:inline-block}
.h-b-btn-cart > a{float:left;background:#f4f4f4;padding:10px 25px;border-radius:3px;font-size:12px;color:#222222;text-transform:uppercase;font-family:'Poppins',sans-serif;font-weight:600}
.h-b-btn-cart a:hover,.h-b-btn-cart a:active,.h-b-btn-cart a:focus{background:#2774ff;color:#fff;text-decoration:none}
.h-b-btn-wish > a{background:#ffffff;border:1px solid #dddddd;border-radius:3px}
.h-b-btn-wish{float:right;display:none;margin-left:5px;}
.h-b-btn-wish a img{padding:0;display:inline-block!important;width:auto!important}
.h-b-btn-wish > a{background:#ffffff;border:1px solid #dddddd;border-radius:3px;color: #555555; font-size: 18px;width:38px;height:38px;text-align:center;line-height:31px;padding: 2px 0;}
.h-b-qiuck-view a{background:rgba(0,0,0,0.62);padding:10px 25px;color:#ffffff;font-family:'Lato',sans-serif}
.h-b-qiuck-view a:hover{color:#fff;background:#000; text-decoration: none;}
.h-b-qiuck-view{position:absolute;top:32%;width:118px;margin:0 auto;left:0;right:0;display:none}

/********electronic-tabs*********/
.electronic-tabs{width: 100%; min-height: 700px; margin: 5px 0 15px;}

/*****imgs-wrapper******/
.imgs-wrapper{width: 100%; height: auto; display: block;padding: 20px 0;overflow: hidden;}
.imgs-wrapper .col-lg-4 img{margin: 0px auto; width: 100%; position: relative; margin-bottom: 5px;}

/*********home-appliance-wrapper*******/
.home-appliance-wrapper{width: 100%; padding:30px 0 20px;min-height: 400px;}

/***********recent-blog-wrapper************/
.recent-blog-wrapper{width: 100%; min-height: 400px; position: relative; padding: 20px 0;}
.recent-blog-list{width:100%; min-height: 324px;position: relative;}
.recent-blog-list .slick-arrow{width: 23px; height: 20px; }
.recent-blog-list .arrow-left2{border-right: 1px solid #e1e1e1;}
.recent-blog-cont{min-height: 324px;}
.recent-blog-img{width: 100%;}
.recent-blog-img img{width: 100%; margin-bottom: 10px;}
.r-title{display: block; }
.r-title h6{font-size: 15px; text-transform: uppercase; color: #2f3034; font-weight: 500; font-family: 'Poppins';letter-spacing: 0.1px;word-spacing: 0.1px;}
.r-meta{display: block;font-family: 'Lato';font-size: 12px;color:#71737a;}
.r-meta label{color: #2f3034; font-size: 12px; }
.r-post-text{font-family: 'Lato';font-size: 13px;color: #71737a;font-weight: 500;}
.recent-blog-cont{padding-left: 0px;}


/**********Arrows**************/
.arrow-left{left: 40px; position: absolute;  top: 45%;  z-index: 999; width: 30px; height: 30px;font-size: 60px; line-height: 29px;text-align: center;border-radius: 19px;cursor: pointer;color: #fff;}
.arrow-right{right: 40px; position: absolute; top: 45%;  z-index: 999; width: 30px; height: 30px;     font-size: 60px;line-height: 29px;text-align: center; border-radius: 19px;cursor: pointer;color: #fff;}

.arrow-left2{right: 50px; position: absolute;  top: -21%;  z-index: 999; width: 29px; height: 48px;font-size: 1px; line-height: 29px;text-align: center; cursor: pointer;color: #fff; background: url(images/arrow-left.png) no-repeat;padding-right: 19px;}
.arrow-right2{right: 22px; position: absolute; top: -21%;  z-index: 999; width: 29px; height: 48px;font-size: 1px;line-height: 29px;text-align: center; cursor: pointer;color: #fff;background: url(images/arrow-right.png) no-repeat;}
.arrow-left2 i{color: #000;font-size: 22px;}
.arrow-right2 i{color: #000;font-size: 22px;}

/*******shop_category_container********/
.shop_category_container{width: 100%; min-height:460px; position: relative; padding: 40px 0;}
.cat-box{border: 1px solid #ebebeb;}
.cat-box section{padding: 15px 15px;display: inline-block; height: 100%;}
.cat-box section img{width: 152px; height: 152px; margin: 0px auto; display: block;}
.catlisting{ }
.catlisting h6{color: #000; font-size: 16px; font-weight: 600; text-transform: uppercase;font-family: 'Poppins';}
.catlisting ul{margin: 0px; padding: 0px; list-style: none;}
.catlisting ul li{color: #6f6f6f; font-size: 13px; margin-bottom: 5px;}
.catlisting ul li a{color: #6f6f6f; font-size: 13px;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.catlisting ul li a:hover{text-decoration: none; padding-left: 2px;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.noPadd{padding: 0px;}
.noPadd-lft{padding-left: 0px;}

.sticky-sidebar{width: 69px; height: auto; background: #494d58;}
.sticky-sidebar ul{margin: 0px; padding: 0px; list-style: none;}
#scroll-item {
  display: none;
  text-align: center;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 0px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
#scroll-item li:last-child a:before {
  display: none;
}
#scroll-item li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: relative;
  background-color: #494d58;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background-position: center center;
  background-repeat: no-repeat;
}
#scroll-item li a strong {
  display: none;
}
#scroll-item li a:before {
  content: "";
  height: 1px;
  width: 42px;
  background: url(../images/background/line_scroll.png) no-repeat 0 0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -21px;
  z-index: 1;
}
#scroll-item li a.cat_1 {
  background-image: url(../images/thumb_tivi.jpg);
}
#scroll-item li a.cat_2 {
  background-image: url(../images/thumb_shirt.jpg);
}
#scroll-item li a.cat_3 {
  background-image: url(../images/thumb_sofa.jpg);
}
#scroll-item li a.cat_4 {
  background-image: url(../images/thumb_glasses.jpg);
}

/*******inner-content******/
.inner-content{padding: 20px 0px;width: 100%; height: 100%; position: relative; display: inline-block;}
.cus-support-list{}
.cus-support-list ul{margin: 0px; padding: 0px; list-style: none;}
.cus-support-list ul li{display:inline-block; border: 1.3px solid #e0e0e0;padding:26px 45px; width: 100%; min-height: 90px;
-webkit-box-shadow: 0px 3px 5px 0px rgba(242,242,242,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(242,242,242,1);
box-shadow: 0px 3px 5px 0px rgba(242,242,242,1);
	
}
.cus-support-list ul li .cus-supp-heading h6{color: #0063d1; font-size: 16px; font-weight: 600; font-family: 'Poppins';margin: 0px 0 4px 0;text-transform: uppercase;}
.cus-support-list ul li .cus-supp-heading span{color: #777777; font-size: 14px; font-weight: 400;font-family: 'Poppins';}
.cus-support-list ul li .cus-icon{width:30%;height:50px; display: block; float: left; background-position: 22px 0px;}
.cus-support-list ul li:nth-child(1) .cus-icon{background: url('../images/About_06.jpg') center no-repeat;}
.cus-support-list ul li:nth-child(2) .cus-icon{background: url('../images/About_09.jpg') center no-repeat;}
.cus-support-list ul li:nth-child(3) .cus-icon{background: url('../images/About_12.jpg') center no-repeat;}
.cus-support-list ul li:nth-child(4) .cus-icon{background: url('../images/About_16.jpg') center no-repeat;}
.cus-supp-heading{width: 70%; float: left}

.abt-wrap{}
.abt-wrap figure{margin:0px 0 15px; display: block;}
.abt-wrap figure img{}
.abt-wrap h4{font-size: 22px; font-weight: 600; font-family: 'Poppins'; margin:15px 0 0px 0;}
.abt-text-con p, .abt-text-con{color: #727272;font-size: 14px; padding: 5px 0 15px;margin-bottom: 15px;}
.abt-text-con:after{background: url('../images/border-strip.png') repeat-x; content: ''; display: block; width: 100%; min-height: 9px; bottom: 0px; position: absolute;  }
.abt-tabs{padding:35px 65px; display: block;}
.abt-tabbing .tab{border: none;}
.histroy-mission{position: relative; width: 100%;height: auto;}
.histroy-mission:before{content: ""; display:block; background: url(../images/About_43.jpg)no-repeat; width: 30px; height:32px; position: absolute; top: -20px;
    left: -50px; }
.histroy-mission:after{content: ""; display:block; background: url(../images/About_47.png)no-repeat; width: 30px; height:32px; position: absolute;bottom:0px;
    right: -50px; }
.histroy-mission h3{font-weight:600;}
.histroy-mission p{color:#727272}
.left-sidebar{margin-bottom: 15px;}
/***********follow-us-wrap*************/
.follow-us-wrap{width: 100%; min-height: 100px; margin:20px 0; display: inline-block;}
.follow-us-wrap h5{text-transform: uppercase; font-size: 18px; text-transform: uppercase; position: relative; font-weight: 600; color: #878a91; margin: 15px 0; }
.follow-us-wrap h5:after{content: ""; display: block; margin: 0px;background: url(../images/border-strip.png) right no-repeat; height: 9px; width: 80%; position: absolute;right: 0px;
    top: 5px; }
.follow-us-wrap ul{margin: 0px; padding: 0px; list-style: none}
.follow-us-wrap ul li{display: inline-block; float: left;margin-right: 15px;}

/*********cart-boxes***********/
.cart-heading{width: 100%; min-height: 50px; margin: 8px 0 10px 0;}
.cart-heading h2{font-size: 27px; font-weight: 600; font-family: 'Open Sans'; text-transform: uppercase;}
.cart-boxes{width: 100%; border: 1px solid #cccccc;min-height: 275px;margin-bottom: 15px; }
.cart-boxes section.cart-top-section{ min-height: 170px;  padding:25px 20px 10px;    display: inline-block;width: 100%;border-bottom: 1px solid #cccccc;}
.cart-padd{width: 100%; position: relative;border: none; }
.pro-cart-heading{font-size: 16px; color: #000; margin: 0 0 8px 0; font-family: 'Open Sans'; font-weight:600;}
.pro-cart-price{font-family: 'Open Sans'; font-weight:800;font-size:22px; color: #0063d1;margin:0px 0 10px 0;}
.pro-cart-meta{}
.pro-cart-meta ul{margin: 0px; padding:0px; list-style: none;}
.pro-cart-meta ul li{margin-bottom: 10px;}
.pro-cart-meta ul li label{font-family: 'Open Sans'; font-weight:700;text-align:left;color: #000;}
.pro-cart-meta ul li span{color: #767676;float: right;font-weight:400;}

.qty-box-wrap{display: inline-flex;margin: 5px 0;width: 50%;}
.qty-box-wrap label{float: left;margin-right: 7px; line-height: 35px; margin-bottom: 0px; font-weight: 600;color: #000;}
.qty-stock{ color: #626262; font-size:0.8em; font-weight: 600; text-transform: uppercase; margin: 5px 0;letter-spacing: 0.5px;   }

.quantity {  position: relative;  width:88px;  height: 40px;}
.quantity input[type="number"]{width: 67px; height: 40px;padding: 10px;border: 1px solid #d9d9d9;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;    margin: 0;}
 .quantity .plus, .quantity .minus { display: block;  padding: 0;  margin: 0; position: absolute; text-align: center;  width:22px;  height:20px; text-decoration: none; overflow: visible; text-decoration: none; font-weight: 700;  cursor: pointer;  color: #9a9a9a;  border: 1px solid #d9d9d9; background:none; text-shadow: none; line-height: 1;outline: none;   }
.quantity .minus {  bottom: 0;  right: 0;  border-radius: 0 0 2px 2px;}
.quantity .plus {  top: 0;  right: 0;  border-radius: 0 0 2px 2px;}
.quantity .plus:hover, .quantity .minus:hover,.quantity .plus:focus, .quantity .minus:focus{outline: none;}

.cart-btn-section{padding: 10px 20px; display: inline-block; width: 100%; min-height:35px;}
.cart-btn-section ul{margin: 0px;padding: 0px; list-style: none;}
.cart-btn-section ul li{float: left; display: inline-block;position: relative;margin-right: 14px;}
.cart-btn-section ul li:nth-child(1):after{content: '|'; display: block; float: right; right:-11px; top:0px; position: absolute; color:#2671d4;}
.cart-btn-section ul li a{font-weight: 600; color:#2671d4;font-size: 13px; }
.cart-btn-section ul li a:hover{text-decoration: none;}

.cart-total-con{border-bottom: 1px solid #cccccc; padding: 10px 0; margin-bottom: 5px; font-size: 22px;font-weight:500;text-transform: uppercase;}
.cart-total-con label{font-weight:400;margin: 0px;}
.cart-total-con .total-price{color: #0063d1; font-weight: 600; }

.cart-side{border-bottom: 1px solid #cccccc; padding: 10px 0;}
.cart-meta{}
.cart-meta h5{font-weight: 700; font-family: 'Open Sans'; font-size: 20px; text-transform: uppercase;margin: 20px 0 18px; }
.cart-meta ul{margin: 0px; padding:0px; list-style: none;}
.cart-meta ul li{margin: 0px 0 5px 0; padding: 0 0 0 55px; color: #6c6c6c; font-size:12.1px;min-height: 50px; }
.cart-meta ul li:nth-child(1){background: url(../images/Cart_06.png)no-repeat; border-bottom: 1px solid #cccccc;background-position: 0px 4px; }
.cart-meta ul li:nth-child(2){background: url(../images/mastercard.png) left center no-repeat;}
.cart-meta span{width: 100%;min-height:40px; display: block; text-align: center; border: 1px solid #cccccc; color: #2f7f0b; font-size: 11.2px; padding: 10px; margin: 15px 0; font-weight:500; }
.cart-btns{display: block;width: 100%; min-height:110px;}
.cart-btns a:hover{color: #fff; text-decoration: none;}
.checkout-btn{height: 55px; width: 100%; background: #0063d1; text-align: center; color:#fff; display: block; font-weight: 600; line-height: 55px; text-transform: uppercase;  font-size: 16px; margin-bottom: 15px; }
.add-coupon-btn{height:35px; width: 100%; background: #494d58;text-align: center; color:#fff; font-size: 13.5px;display: block;font-weight: 700;text-transform: uppercase; line-height: 35px; }

/************************* RESPONSIVE CSS ********************************/

@media (min-width: 100px) and (max-width: 1023px) {
	.noPadd-lft {  padding-left: 15px;}
	.tabs-menu, .tabs-menu1{min-height: 42px;height: auto;}
}
/* Screen > 1024px */
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
  #scroll-item {
    display: block;
  }
}
/* Screen > 1024px */
@media screen and (min-width: 1023px) {
  .visible-lg {
    display: block !important;
  }
}
/* Screen < 1200px */
@media screen and (max-width: 1200px) {
	
  .page-404 {
    background-position: center center;
    background-size: 100% 100%;
  }
  .page-404 .page-content {
    padding-top: 60px;
  }
  .shop-products .vgw-item.first {
    clear: none;
  }
  .shop-products .vgw-item:nth-child(2n+1) {
    clear: both;
  }
  .team-socials li {
    margin: 0 2px 4px;
  }
  .full-column-md .vc_column_container {
    width: 100% !important;
    margin-bottom: 35px;
    float: none !important;
  }
  .rtl .full-column-md .vc_column_container {
    float: none !important;
  }
  .full-column-md .vc_column_container:last-child {
    margin-bottom: 0;
  }
  .full-column-md.vc_slider .vc_column_container {
    margin-bottom: 0;
  }
  #customer_details,
  #order_review {
    width: 100%;
    float: none;
    padding: 0 0 0 0 !important;
  }
  .rtl #customer_details,
  .rtl #order_review {
    float: none;
  }
  .rtl #customer_details,
  .rtl #order_review {
    padding: 0 0 0 0 !important;
  }
  /************************************/
  .to-top,
  .banner-header {
    display: none !important;
  }
  .btn-categories:before {
    display: none;
  }
  #logo-wrapper {
    text-align: center;
  }
  .rtl #logo-wrapper {
    text-align: center;
  }
  .logo-inside {
    padding: 0 0 10px;
  }
  .category-inside {
    opacity: 0;
    /* IE8 filter*/
    filter: alpha(opacity=0);
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    visibility: hidden;
  }
  .vgw-item-i.thumb {
    height: auto !important;
  }
  .product-category:nth-child(3n+1) {
    clear: none;
  }
  .product-category:nth-child(2n+1) {
    clear: both;
  }
  .vc_row_products .vc_column_container:last-child {
    text-align: center;
  }
  .rtl .vc_row_products .vc_column_container:last-child {
    text-align: center;
  }
  .vc_row_products .vc_column_container:last-child .wpb_single_image {
    display: inline-block;
  }
  .vc_row_products .vc_column_container:last-child:first-child {
    text-align: left;
  }
  .rtl .vc_row_products .vc_column_container:last-child:first-child {
    text-align: right ;
  }
  .wpb_heading div {
    width: 100%;
    max-width: 300px;
  }
  .wpb-js-composer .wpb_row.float-tab .wpb_column .vc_column-inner .vc_tta-tabs .vc_tta-tabs-list {
    left: 300px;
  }
  .rtl.wpb-js-composer .wpb_row.float-tab .wpb_column .vc_column-inner .vc_tta-tabs .vc_tta-tabs-list {
    left: auto;
    right: 300px;
  }
  .box-slider {
    margin-bottom: 30px !important;
  }
  .box-banners .wpb_single_image {
    width: 50%;
    float: left;
  }
  .rtl .box-banners .wpb_single_image {
    float: right;
  }
  .multi-products .woo-carousel.owl-carousel .owl-wrapper-outer {
    border-right: 1px solid #e0e0e0;
  }
  #vg-header-wrapper.fixed {
    position: static !important;
  }
}
/* Screen < 1024px */
@media screen and (max-width: 1023px) {
  .visible-xs {
    display: block !important;
  }
  /* Front Page */
  .vc_content,
  .vc_sidebar {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .wpb_row .vc_tta.vc_general .vc_tta-tabs-list {
    position: static;
    margin-bottom: 25px !important;
  }

  .menu-wrapper {
    padding: 15px 0;
  }
  .layout-3 .menu-wrapper .inner-container {
    padding: 15px;
  }
  .top-category,
  #navigation {
    width: 50%;
  }
  .tools_button_icon {
    display: none;
  }
  .btn-categories {
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }
  .rtl .btn-categories {
    text-align: center;
  }
  .wpb-js-composer .wpb_row.float-tab .wpb_column .vc_column-inner .vc_tta-tabs .vc_tta-tabs-list {
    position: static;
    margin-bottom: 0 !important;
    margin-left: -20px;
  }
  .rtl.wpb-js-composer .wpb_row.float-tab .wpb_column .vc_column-inner .vc_tta-tabs .vc_tta-tabs-list {
    margin-right: -20px;
    margin-left: 0;
  }
}
/* Screen < 1024px */
@media screen and (max-width: 991px) {
  .col-md-5ths {
    width: 50%;
    margin-bottom: 25px;
  }
  .col-md-5ths:nth-child(2n+1) {
    clear: both;
  }
  .col-md-5ths:last-child {
    width: 100%;
  }
  #secondary,
  #content {
    margin-bottom: 35px;
  }

  .full-column-sm .vc_column_container {
    width: 100% !important;
    margin-bottom: 35px;
    float: none !important;
  }
  .rtl .full-column-sm .vc_column_container {
    float: none !important;
  }
  .full-column-sm .vc_column_container:last-child {
    margin-bottom: 0;
  }
  /****************************/
  .col-topbar {
    width: 100%;
    text-align: center;
  }
  .top-static li {
    padding: 15px 10px !important;
  }
  .top-bar .col-2 .widget {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    text-align: left;
  }
  .rtl .top-bar .col-2 .widget {
    float: none;
  }
  .rtl .top-bar .col-2 .widget {
    text-align: right ;
  }
  .top-bar .col-2 .widget:last-child:before {
    background-color: transparent;
  }
  .top-bar .col-2 .widget:first-child:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 14px;
    background-color: #e0e0e0;
    margin-top: -7px;
  }
  .top-bar .widget_nav_menu li ul,
  .lang-cur ul {
    right: auto;
    left: 0;
  }
  .rtl .top-bar .widget_nav_menu li ul,
  .rtl .lang-cur ul {
    left: auto;
    right: auto;
  }
  .rtl .top-bar .widget_nav_menu li ul,
  .rtl .lang-cur ul {
    left: auto;
    right: 0;
  }
  .top-feature .top-search {
    width: 65%;
  }
  .top-feature .top-cart {
    width: 35%;
    text-align: right;
  }
  .rtl .top-feature .top-cart {
    text-align: left;
  }
  .mini_cart_inner a {
    display: inline-block;
  }
  .mini_cart_inner .shopping_cart {
    display: inline-block;
    text-align: left;
  }
  .rtl .mini_cart_inner .shopping_cart {
    text-align: right ;
  }
  .top-feature {
    padding-top: 0;
    padding-bottom: 0;
  }
  .static-info .info {
    margin-bottom: 25px;
  }
  .static-info .info:last-child {
    margin-bottom: 0;
  }
  #vg-footer-wrapper .footer .widget:nth-child(2n+1) {
    clear: both;
  }
  .social-block {
    text-align: center;
  }
  .rtl .social-block {
    text-align: center;
  }
  .social-block .widget_vgw_social_media {
    float: none;
  }
  .rtl .social-block .widget_vgw_social_media {
    float: none;
  }
  .newsletters-block .widget {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .rtl .newsletters-block .widget {
    float: none;
  }
  .newsletters-block .widget:last-child {
    margin-bottom: 35px !important;
  }
  .header-newsletters {
    text-align: center;
  }
  .rtl .header-newsletters {
    text-align: center;
  }
  .bottom-footer {
    text-align: center;
  }
  .rtl .bottom-footer {
    text-align: center;
  }
  .col-btfooter {
    margin-bottom: 15px;
  }
  .col-btfooter:last-child {
    margin-bottom: 0;
  }
  .bottom-footer .copyright {
    line-height: 20px;
  }
  .bottom-footer .not-alone .payment {
    float: none;
    display: inline-block;
  }
  .rtl .bottom-footer .not-alone .payment {
    float: none;
  }
  .single-product-image {
    margin-bottom: 40px;
  }
  .woocommerce div.product .woocommerce-tabs {
    padding-left: 0;
  }
  .rtl .woocommerce div.product .woocommerce-tabs {
    padding-right: 0;
    padding-left: 0;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    position: static;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    display: inline-block !important;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 0;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a:before {
    display: none !important;
  }
  .banner-box {
    display: none !important;
  }
}
/* Screen < 768px */
@media screen and (max-width: 767px) {
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 15px 0 !important;
    border-color: #6f6f6f;
  }
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover {
    background-color: #6f6f6f;
    color: #fff;
  }
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover .vc_tta-panel-title > a {
    color: #fff;
  }
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {
    color: #6f6f6f;
    text-transform: uppercase;
    font-weight: 400;
  }
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    background-color: #6f6f6f;
    border-color: #6f6f6f;
  }
  .wpb_row .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {
    color: #fff;
  }
  .woocommerce .actions .cart-total-wrapper .total-cost {
    margin-top: 25px;
  }
  .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table tr {
    display: table-row;
  }
  .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table th,
  .woocommerce .actions .cart-total-wrapper .total-cost .cart_totals table td {
    width: 50%;
  }
  #customer_details,
  #order_review {
    padding: 0 0 25px;
    width: 100%;
  }
  #order_review .shop_table td:before {
    display: none;
  }
  .search-overlay .vina-product-search form {
    left: 40px;
    right: 40px;
  }
  .mcart-border {
    display: none;
  }
  .vina-product-search form .SumoSelect.open > .optWrapper {
    left: auto;
    right: -1px;
    text-align: left;
  }
  .rtl .vina-product-search form .SumoSelect.open > .optWrapper {
    left: -1px;
    right: auto;
  }
  .rtl .vina-product-search form .SumoSelect.open > .optWrapper {
    text-align: right ;
  }
  .post-wrapper h1.entry-title {
    font-size: 26px;
    line-height: 32px;
  }
  .post-wrapper h4.entry-title {
    text-transform: none;
  }
  /************************************/
  .top-feature .top-search,
  .top-feature .top-cart {
    text-align: center;
    width: 100%;
  }
  .rtl .top-feature .top-search,
  .rtl .top-feature .top-cart {
    text-align: center;
  }
  .top-feature .top-cart {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .rtl .top-feature .top-cart {
    padding-right: 0;
    padding-left: 0;
  }
  .wpb_heading div {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .wpb-js-composer .vc_tta .owl-theme .owl-controls .owl-buttons {
    position: static;
    margin-top: 10px;
  }
  .banner-tab {
    display: none;
  }
  .wpb-js-composer .wpb_row .wpb_column .vc_column-inner .vc_tta-tabs.has-banner {
    padding-left: 0;
  }
  .rtl.wpb-js-composer .wpb_row .wpb_column .vc_column-inner .vc_tta-tabs.has-banner {
    padding-right: 0;
    padding-left: 0;
  }
  .wpb-js-composer .wpb_row .wpb_column .vc_column-inner .vc_tta-tabs.dark .owl-theme .owl-controls .owl-buttons div {
    background-color: #373737;
  }
  .shop-products .vgw-item.first .vgw-item-i {
    border-left-width: 0;
  }
  .related .vgw-item .vgw-item-i,
  .up-sells .vgw-item .vgw-item-i,
  .cross-sells .vgw-item .vgw-item-i {
    border-left-width: 0 !important;
  }
  .woocommerce .buttons-cart {
    text-align: center;
  }
  .woocommerce .buttons-cart .button {
    margin-bottom: 0;
    float: none;
  }
  .rtl .woocommerce .buttons-cart .button {
    float: none;
  }
  .vgw-item-i.special .product-image,
  .vgw-item-i.special .product-content {
    width: 100%;
  }
  .vgw-item-i.special .product-content {
    padding: 15px 15px 0;
  }
  .timer-grid.style-2 div {
    width: 55px;
    height: 55px;
    color: #868686;
    line-height: 15px;
    padding: 10px 0;
    margin: 0 1px 0 1px !important;
  }
  .rtl .timer-grid.style-2 div {
    margin: 0 1px 0 1px !important;
  }
  .timer-grid.style-2 div span {
    line-height: 18px;
  }
  #vg-footer-wrapper .widget {
    margin-bottom: 35px;
  }
  .product-category {
    height: auto !important;
  }
}
/* Screen < 600px */
@media screen and (max-width: 599px) {
  .shop-products .vgw-item {
    width: 100%;
  }
  .woocommerce table.shop_table {
    margin: 1em 0;
  }
  .woocommerce table.shop_table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .woocommerce table.shop_table tr:nth-child(2n+2) {
    background: #f2f2f2;
  }
  .woocommerce table.shop_table tr:nth-child(2n+2).shipping {
    background: none !important;
  }
  .woocommerce table.shop_table tr:nth-child(2n+2).shipping td {
    background-color: transparent !important;
  }
  .woocommerce table.shop_table tr td {
    display: block !important;
    margin: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .woocommerce table.shop_table th {
    display: none;
  }
  .woocommerce table.shop_table td {
    width: 100% !important;
  }
  .woocommerce table.shop_table td:first-child {
    padding-top: .5em;
  }
  .woocommerce table.shop_table td:last-child {
    padding-bottom: .5em;
  }
  .woocommerce table.shop_table td:before {
    content: attr(data-th) " ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
    font-size: 14px;
    text-transform: none;
    color: rgba(111, 111, 111, 0.5);
  }
  .woocommerce table.shop_table td.product-thumbnail:before {
    display: none;
  }
  .woocommerce table.shop_table th,
  .woocommerce table.shop_table td {
    text-align: left !important;
  }
  .woocommerce table.shop_table .product-thumbnail {
    max-width: 100%;
    width: 100%;
  }
  .woocommerce table.shop_table .buttons-cart td:before,
  .woocommerce table.shop_table .buttons-cart td:after {
    content: '';
    display: table;
  }
  .woocommerce table.shop_table .buttons-cart td:after {
    clear: both;
  }
  .woocommerce table.shop_table.wishlist_table td:before {
    display: none;
  }
  .search-overlay .vina-product-search form {
    height: 60px;
    left: 10px;
    right: 10px;
  }
  .search-overlay .vina-product-search form input[type=text] {
    padding: 10px 15px 10px 15px !important;
    font-size: 14px;
    height: 54px;
    text-transform: none;
  }
  .search-overlay .vina-product-search form button {
    width: 54px;
    height: 54px;
    line-height: 54px;
    top: 0;
    right: 0;
    background-color: #fff;
  }
  .rtl .search-overlay .vina-product-search form button {
    left: 0;
    right: auto;
  }
  .preset-1 .search-overlay .vina-product-search form button {
    color: #f9ba48;
  }
  .preset-2 .search-overlay .vina-product-search form button {
    color: #7b7a27;
  }
  .preset-3 .search-overlay .vina-product-search form button {
    color: #f06676;
  }
  .preset-4 .search-overlay .vina-product-search form button {
    color: #1197d6;
  }
  .search-overlay .vina-product-search form button:after {
    line-height: 54px;
    font-size: 18px;
  }
  .search-overlay .vina-product-search form button:hover {
    color: #fff !important;
  }
  .preset-1 .search-overlay .vina-product-search form button:hover {
    background-color: #f9ba48;
  }
  .preset-2 .search-overlay .vina-product-search form button:hover {
    background-color: #7b7a27;
  }
  .preset-3 .search-overlay .vina-product-search form button:hover {
    background-color: #f06676;
  }
  .preset-4 .search-overlay .vina-product-search form button:hover {
    background-color: #1197d6;
  }
  .comments-area .children {
    padding-left: 0;
  }
  .rtl .comments-area .children {
    padding-right: 0;
    padding-left: 0;
  }
  /***********************/
  .single-product-info .cart .quantity .section-title {
    display: none;
  }
}
/* Screen < 460px */
@media screen and (max-width: 459px) {
  .s-hidden,
  .hidden-320 {
    display: none !important;
  }
  .col-md-5ths,
  .list-person .vc_column_container {
    width: 100%;
  }
  .tparrows,
  .tp-bullets {
    display: none;
  }
  .woocommerce table.shop_table .buttons-cart .button {
    float: none;
    margin-bottom: 10px;
  }
  .single-product-info .cart .variations tr {
    width: 100%;
  }
  .page-404 {
    background: #fff;
  }
  .woocommerce .buttons-cart .button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .rtl .woocommerce .buttons-cart .button {
    margin-right: 0;
    margin-left: 0;
  }
  .rtl .woocommerce .buttons-cart .button {
    text-align: center;
  }
  .woocommerce .buttons-cart input.button {
    margin-bottom: 0;
  }
  .comment-avatar {
    float: none;
    display: block;
    margin: 0 auto 20px;
  }
  .comment-info {
    margin: 0 !important;
  }
  /************************************/
  .vina-product-search form .select-category {
    display: none;
  }
  .vina-product-search form input[type=text] {
    padding: 13px 15px 13px 15px !important;
  }
  .rtl .vina-product-search form input[type=text] {
    padding: 13px 15px 13px 15px !important;
  }
  .top-category,
  #navigation {
    width: 100%;
  }
  .top-category {
    margin-bottom: 15px;
  }
  #vg-footer-wrapper .footer .widget {
    width: 100%;
    margin-bottom: 40px;
  }
  #vg-footer-wrapper .footer .widget:last-child {
    margin-bottom: 0;
  }
  .widget-title.footer-widget-title {
    margin-bottom: 15px;
  }
  .vg-payment {
    display: none;
  }
  .product-category {
    height: auto !important;
  }
  .product-category .thumb-category,
  .product-category .info-category {
    width: 100%;
    float: none;
  }
  .rtl .product-category .thumb-category,
  .rtl .product-category .info-category {
    float: none;
  }
  .product-category .info-category {
    padding: 15px 0 0 !important;
  }
  .woocommerce .woocommerce-billing-fields label,
  .woocommerce .woocommerce-shipping-fields label {
    float: none;
    width: 100%;
    position: static;
  }
  .rtl .woocommerce .woocommerce-billing-fields label,
  .rtl .woocommerce .woocommerce-shipping-fields label {
    float: none;
  }
  .woocommerce .woocommerce-billing-fields .form-row,
  .woocommerce .woocommerce-shipping-fields .form-row {
    padding-left: 0;
  }
  .rtl .woocommerce .woocommerce-billing-fields .form-row,
  .rtl .woocommerce .woocommerce-shipping-fields .form-row {
    padding-right: 0;
    padding-left: 0;
  }
  .contact-form {
    padding: 30px 15px 15px;
  }
  .wpcf7-form .field-wrap label,
  .wpcf7-form .field-wrap .wpcf7-form-control-wrap {
    width: 100%;
    padding: 0 !important;
  }
  .wpcf7-form .field-wrap label {
    margin-bottom: 10px;
  }
  .top-bar {
    display: none;
  }
  .box-banners .wpb_single_image {
    width: 100%;
    float: none;
    margin-bottom: 30px !important;
  }
  .rtl .box-banners .wpb_single_image {
    float: none;
  }
  .box-banners .wpb_single_image:last-child {
    margin-bottom: 0 !important;
  }
}
/* Screen < 320px */
@media screen and (max-width: 319px) {
  .wpb_heading {
    font-size: 18px;
  }
  .static-info .inner {
    padding: 15px;
    padding-top: 106px;
    text-align: center;
  }
  .static-info .icon {
    left: 50%;
    margin-left: -33px;
  }
  .rtl .static-info .icon {
    left: auto;
    right: 50%;
  }
  .rtl .static-info .icon {
    margin-right: -33px;
    margin-left: 0;
  }
  .static-info .content {
    line-height: 20px;
  }
}
